NET "ck933" LOC = Y11;
NET "nWe" LOC = V12;
NET "nCs" LOC = V11;
NET "nRd" LOC = U16;
NET "data<0>" LOC = W8;
NET "data<1>" LOC = W5;
NET "data<2>" LOC = V16;
NET "data<3>" LOC = U15;
NET "data<4>" LOC = U14;
NET "data<5>" LOC = U13;
NET "data<6>" LOC = U12;
NET "data<7>" LOC = U10;
NET "data<8>" LOC = U9;
NET "data<9>" LOC = U8;
NET "data<10>" LOC = AB19;
NET "data<11>" LOC = AB18;
NET "data<12>" LOC = AB17;
NET "data<13>" LOC = AB16;
NET "data<14>" LOC = AB14;
NET "data<15>" LOC = AB13;
NET "addr1" LOC = Y7;
NET "addr2" LOC = Y6;
NET "addr3" LOC = W18;
NET "addr4" LOC = W13;
NET "addr7" LOC = W4;
NET "addr8" LOC = V15;
NET "addr9" LOC = AB15;
NET "addr10" LOC = AB11;
NET "addr11" LOC = AB2;
NET "addr12" LOC = AA6;
NET "addr1" IOSTANDARD = "LVCMOS33";
NET "addr2" IOSTANDARD = "LVCMOS33";
NET "addr3" IOSTANDARD = "LVCMOS33";
NET "addr4" IOSTANDARD = "LVCMOS33";
NET "addr7" IOSTANDARD = "LVCMOS33";
NET "addr8" IOSTANDARD = "LVCMOS33";
NET "addr9" IOSTANDARD = "LVCMOS33";
NET "addr10" IOSTANDARD = "LVCMOS33";
NET "addr11" IOSTANDARD = "LVCMOS33";
NET "addr12" IOSTANDARD = "LVCMOS33";
NET "ck933" IOSTANDARD = "LVCMOS33";
NET "data<0>" IOSTANDARD = "LVCMOS33";
NET "data<1>" IOSTANDARD = "LVCMOS33";
NET "data<2>" IOSTANDARD = "LVCMOS33";
NET "data<3>" IOSTANDARD = "LVCMOS33";
NET "data<4>" IOSTANDARD = "LVCMOS33";
NET "data<5>" IOSTANDARD = "LVCMOS33";
NET "data<6>" IOSTANDARD = "LVCMOS33";
NET "data<7>" IOSTANDARD = "LVCMOS33";
NET "data<8>" IOSTANDARD = "LVCMOS33";
NET "data<9>" IOSTANDARD = "LVCMOS33";
NET "data<10>" IOSTANDARD = "LVCMOS33";
NET "data<11>" IOSTANDARD = "LVCMOS33";
NET "data<12>" IOSTANDARD = "LVCMOS33";
NET "data<13>" IOSTANDARD = "LVCMOS33";
NET "data<14>" IOSTANDARD = "LVCMOS33";
NET "data<15>" IOSTANDARD = "LVCMOS33";
NET "nCs" IOSTANDARD = "LVCMOS33";
NET "nRd" IOSTANDARD = "LVCMOS33";
NET "nWe" IOSTANDARD = "LVCMOS33";
NET "adc_d<0>" LOC = M6;
NET "adc_d<1>" LOC = M5;
NET "adc_d<2>" LOC = M3;
NET "adc_d<3>" LOC = M2;
NET "adc_d<4>" LOC = M1;
NET "adc_d<5>" LOC = L6;
NET "adc_d<6>" LOC = L5;
NET "adc_d<7>" LOC = L3;
NET "adc_d<8>" LOC = E1;
NET "adc_d<9>" LOC = D4;
NET "adc_d<10>" LOC = D3;
NET "adc_d<11>" LOC = D1;
NET "adc_d<12>" LOC = C2;
NET "adc_d<13>" LOC = C1;
NET "adc_d<13>" IOSTANDARD = "LVCMOS33";
NET "adc_d<12>" IOSTANDARD = "LVCMOS33";
NET "adc_d<11>" IOSTANDARD = "LVCMOS33";
NET "adc_d<10>" IOSTANDARD = "LVCMOS33";
NET "adc_d<9>" IOSTANDARD = "LVCMOS33";
NET "adc_d<8>" IOSTANDARD = "LVCMOS33";
NET "adc_d<7>" IOSTANDARD = "LVCMOS33";
NET "adc_d<6>" IOSTANDARD = "LVCMOS33";
NET "adc_d<5>" IOSTANDARD = "LVCMOS33";
NET "adc_d<4>" IOSTANDARD = "LVCMOS33";
NET "adc_d<3>" IOSTANDARD = "LVCMOS33";
NET "adc_d<2>" IOSTANDARD = "LVCMOS33";
NET "adc_d<1>" IOSTANDARD = "LVCMOS33";
NET "adc_d<0>" IOSTANDARD = "LVCMOS33";

NET "demodMode<0>" LOC = A20;
NET "demodMode<1>" LOC = A19;
NET "demodMode<2>" LOC = A17;
NET "demodMode<3>" LOC = A16;
NET "demodMode<0>" IOSTANDARD = "LVCMOS33";
NET "demodMode<1>" IOSTANDARD = "LVCMOS33";
NET "demodMode<2>" IOSTANDARD = "LVCMOS33";
NET "demodMode<3>" IOSTANDARD = "LVCMOS33";

NET "dac0Select<0>" LOC = A14;
NET "dac0Select<1>" LOC = A13;
NET "dac0Select<2>" LOC = A11;
NET "dac0Select<3>" LOC = A8;
NET "dac0Select<0>" IOSTANDARD = "LVCMOS33";
NET "dac0Select<1>" IOSTANDARD = "LVCMOS33";
NET "dac0Select<2>" IOSTANDARD = "LVCMOS33";
NET "dac0Select<3>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<0>" LOC = A7;
NET "dac1Select<1>" LOC = A6;
NET "dac1Select<2>" LOC = A5;
NET "dac1Select<3>" LOC = A4;
NET "dac1Select<0>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<1>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<2>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<3>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<0>" LOC = A3;
NET "dac2Select<1>" LOC = B20;
NET "dac2Select<2>" LOC = B19;
NET "dac2Select<3>" LOC = B17;
NET "dac2Select<0>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<1>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<2>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<3>" IOSTANDARD = "LVCMOS33";

NET "bsync_nLock" LOC = B11;
NET "bsync_nLock" IOSTANDARD = "LVCMOS33";
NET "demod_nLock" LOC = B6;
NET "demod_nLock" IOSTANDARD = "LVCMOS33";

NET "sdiOut" LOC = B4;
NET "sdiOut" IOSTANDARD = "LVCMOS33";

NET "dac0_d<0>" LOC = D20;
NET "dac0_d<1>" LOC = D21;
NET "dac0_d<2>" LOC = D22;
NET "dac0_d<3>" LOC = E19;
NET "dac0_d<4>" LOC = E20;
NET "dac0_d<5>" LOC = E22;
NET "dac0_d<6>" LOC = F18;
NET "dac0_d<7>" LOC = F19;
NET "dac0_d<8>" LOC = F20;
NET "dac0_d<9>" LOC = F21;
NET "dac0_d<10>" LOC = F22;
NET "dac0_d<11>" LOC = G17;
NET "dac0_d<12>" LOC = G18;
NET "dac0_d<13>" LOC = G19;
NET "dac0_d<0>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<1>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<2>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<3>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<4>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<5>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<6>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<7>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<8>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<9>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<10>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<11>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<12>" IOSTANDARD = "LVCMOS33";
NET "dac0_d<13>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<0>" LOC = G22;
NET "dac1_d<1>" LOC = H17;
NET "dac1_d<2>" LOC = H18;
NET "dac1_d<3>" LOC = H20;
NET "dac1_d<4>" LOC = H22;
NET "dac1_d<5>" LOC = J17;
NET "dac1_d<6>" LOC = J19;
NET "dac1_d<7>" LOC = J20;
NET "dac1_d<8>" LOC = K16;
NET "dac1_d<9>" LOC = K18;
NET "dac1_d<10>" LOC = K19;
NET "dac1_d<11>" LOC = K20;
NET "dac1_d<12>" LOC = K22;
NET "dac1_d<13>" LOC = L17;
NET "dac1_d<0>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<1>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<2>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<3>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<4>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<5>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<6>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<7>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<8>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<9>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<10>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<11>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<12>" IOSTANDARD = "LVCMOS33";
NET "dac1_d<13>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<0>" LOC = L20;
NET "dac2_d<1>" LOC = L21;
NET "dac2_d<2>" LOC = L22;
NET "dac2_d<3>" LOC = M17;
NET "dac2_d<4>" LOC = M18;
NET "dac2_d<5>" LOC = M20;
NET "dac2_d<6>" LOC = M22;
NET "dac2_d<7>" LOC = N17;
NET "dac2_d<8>" LOC = N18;
NET "dac2_d<9>" LOC = N19;
NET "dac2_d<10>" LOC = N20;
NET "dac2_d<11>" LOC = N21;
NET "dac2_d<12>" LOC = N22;
NET "dac2_d<13>" LOC = P16;
NET "dac2_d<0>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<1>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<2>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<3>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<4>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<5>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<6>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<7>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<8>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<9>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<10>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<11>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<12>" IOSTANDARD = "LVCMOS33";
NET "dac2_d<13>" IOSTANDARD = "LVCMOS33";

NET "multiHSymEn" LOC = D9;
NET "multiHSymEn" IOSTANDARD = "LVCMOS33";

NET "multiHSym2xEn" LOC = D7;
NET "multiHSym2xEn" IOSTANDARD = "LVCMOS33";

NET "iMultiH<0>"  LOC = P19;
NET "iMultiH<1>"  LOC = P22;
NET "iMultiH<2>"  LOC = R18;
NET "iMultiH<3>"  LOC = R19;
NET "iMultiH<4>"  LOC = R20;
NET "iMultiH<5>"  LOC = R22;
NET "iMultiH<6>"  LOC = T17;
NET "iMultiH<7>"  LOC = T18;
NET "iMultiH<8>"  LOC = T20;
NET "iMultiH<9>"  LOC = T22;
NET "iMultiH<10>" LOC = U18;
NET "iMultiH<11>" LOC = U19;
NET "iMultiH<12>" LOC = U20;
NET "iMultiH<13>" LOC = U22;
NET "iMultiH<14>" LOC = V20;
NET "iMultiH<15>" LOC = W19;
NET "iMultiH<16>" LOC = W22;
NET "iMultiH<17>" LOC = Y21;
NET "iMultiH<0>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<1>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<2>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<3>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<4>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<5>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<6>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<7>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<8>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<9>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<10>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<11>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<12>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<13>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<14>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<15>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<16>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<17>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<0>"  LOC = B3;
NET "qMultiH<1>"  LOC = C19;
NET "qMultiH<2>"  LOC = C18;
NET "qMultiH<3>"  LOC = C17;
NET "qMultiH<4>"  LOC = C16;
NET "qMultiH<5>"  LOC = C15;
NET "qMultiH<6>"  LOC = C13;
NET "qMultiH<7>"  LOC = C12;
NET "qMultiH<8>"  LOC = C9;
NET "qMultiH<9>"  LOC = C8;
NET "qMultiH<10>" LOC = C7;
NET "qMultiH<11>" LOC = C6;
NET "qMultiH<12>" LOC = C4;
NET "qMultiH<13>" LOC = D19;
NET "qMultiH<14>" LOC = D15;
NET "qMultiH<15>" LOC = D14;
NET "qMultiH<16>" LOC = D13;
NET "qMultiH<17>" LOC = D10;
NET "qMultiH<0>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<1>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<2>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<3>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<4>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<5>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<6>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<7>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<8>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<9>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<10>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<11>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<12>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<13>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<14>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<15>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<16>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<17>" IOSTANDARD = "LVCMOS33";

NET "dataSymEn" LOC = D6;
NET "dataSymEn" IOSTANDARD = "LVCMOS33";
NET "dataSym2xEn" LOC = D5;
NET "dataSym2xEn" IOSTANDARD = "LVCMOS33";

NET "iData" LOC = E16;
NET "qData" LOC = E15;
NET "iData" IOSTANDARD = "LVCMOS33";
NET "qData" IOSTANDARD = "LVCMOS33";

NET "auSymClk" LOC = E12;
NET "auSymClk" IOSTANDARD = "LVCMOS33";

NET "multihPhaseError<0>" LOC = A18 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<1>" LOC = A15 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<2>" LOC = A12 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<3>" LOC = A10 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<4>" LOC = C14 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<5>" LOC = C11 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<6>" LOC = C10 | IOSTANDARD = "LVCMOS33";
NET "multihPhaseError<7>" LOC = C5  | IOSTANDARD = "LVCMOS33";

NET "multihPhaseErrorEn"  LOC = D18 | IOSTANDARD = "LVCMOS33";



NET "ck933" TNM_NET = ck933;
NET "nWe" TNM_NET = nWe;
TIMEGRP "sync0" = FFS(demod/ddc/hb0/syncOut*);
TIMEGRP "sync1" = FFS(demod/ddc/cic/cicI/syncOut*);
TIMEGRP "sync2" = FFS(demod/ddc/hb/syncOut*);
TIMEGRP "sync3" = FFS(demod/ddc/syncOut*) FFS(demod/ddc/agcSync*);
TIMEGRP "sync4" = FFS(demod/resampler/resamplerI/resampleDelay*) FFS(demod/resampler/resamplerQ/resampleDelay*);
TIMEGRP "sync5" = FFS(demod/fmDemod/cordic/enSR*);
TIMEGRP "sync6" = FFS(demod/bitsync/phaseState*);
TIMEGRP "sync7" = FFS(pcmSymEn) FFS(soqpskSymEn) FFS(trellis/trellisCarrierLoop/symEnSr*) FFS(trellis/symEnShift*) FFS(trellis/viterbi_top/everyOtherSymEn);
TIMEGRP "sync8" = FFS(pcmSym2xEn) FFS(soqpskSym2xEn) FFS(trellis/trellisCarrierLoop/sym2xEnSr*) FFS(soqpsk/soqpskCarrierLoop/sym2xEnSr*);
TIMEGRP "sync9" = FFS(multihPhaseErrorEnIn);
TIMEGRP "sync" = "sync0" "sync1" "sync2" "sync3" "sync4" "sync5" "sync6" "sync7" "sync8" "sync9";
TIMEGRP "delay" = FFS(multihLoop/delayI/*) FFS(multihLoop/delayQ/*) DSPS(multihLoop/delayI/*) DSPS(multihLoop/delayQ/*);
TIMEGRP "acs" = FFS(trellis/viterbi_top/acs*);
TIMEGRP "soqpskAcs" = FFS(soqpsk/soqpskViterbi/acs*) DSPS(soqpsk/soqpskViterbi/acs*) FFS(soqpsk/soqpskViterbi/mf1Acs*);
TIMEGRP "rotOut" = FFS(trellis/rotator/m*/reOut*) FFS(trellis/rotator/m*/imOut*);
TIMEGRP "soqpskRotOut" = FFS(soqpsk/soqpskViterbi/mf1Acs*) FFS(soqpsk/soqpskViterbi/mfZ*);
NET "demod/dac0Sync*" TNM_NET = FFS syncGroup;
NET "demod/dac1Sync*" TNM_NET = FFS syncGroup;
NET "demod/dac2Sync*" TNM_NET = FFS syncGroup;
NET "demod/ddc/agcSync*" TNM_NET = FFS syncGroup;
NET "demod/ddc/cic/cicI/syncOut*" TNM_NET = FFS syncGroup;
NET "demod/ddc/cic/cicQ/syncOut*" TNM_NET = FFS syncGroup;
NET "demod/ddc/hb/evenSync*" TNM_NET = FFS syncGroup;
NET "demod/ddc/hb/syncOut*" TNM_NET = FFS syncGroup;
NET "demod/ddc/hb0/evenSync*" TNM_NET = FFS syncGroup;
NET "demod/ddc/hb0/syncOut*" TNM_NET = FFS syncGroup;
NET "demod/carrierOffsetEn*" TNM_NET = FFS syncGroup;
NET "demod/ddc/syncOut*" TNM_NET = FFS syncGroup;
NET "demod/resampler/resamplerI/resampleDelay*" TNM_NET = FFS syncGroup;
NET "demod/resampler/resamplerQ/resampleDelay*" TNM_NET = FFS syncGroup;
NET "demod/carrierLoop/loopFilterEn*" TNM_NET = FFS syncGroup;
NET "demod/fmDemod/cordic/enSR*" TNM_NET = FFS syncGroup;
NET "demod/bitsync/phaseState*" TNM_NET = FFS syncGroup;
NET "pcmSymEn*" TNM_NET = FFS syncGroup;
NET "pcmSym2xEn*" TNM_NET = FFS syncGroup;
#NET "soqpsk/symEn*" TNM_NET = FFS syncGroup;
NET "soqpskSym2xEn*" TNM_NET = FFS syncGroup;
NET "trellis/viterbi_top/tbt1/symEnSr2*" TNM_NET = FFS syncGroup;
NET "soqpsk/soqpskViterbi/everyOtherSymEn*" TNM_NET = FFS syncGroup;
NET "trellis/trellisCarrierLoop/sym2xEnSr*" TNM_NET = FFS syncGroup;
NET "multihPhaseErrorEnIn" TNM_NET = FFS syncGroup;
TIMEGRP "tg6" = FFS(dac0Interp/cicInterpolate/tap*);
TIMEGRP "tg7" = FFS(dac1Interp/cicInterpolate/tap*);
TIMEGRP "tg8" = FFS(dac2Interp/cicInterpolate/tap*);
TIMEGRP "tg9" = FFS(dac0Interp/cicInterpolate/acc0*);
TIMEGRP "tg10" = FFS(dac1Interp/cicInterpolate/acc0*);
TIMEGRP "tg11" = FFS(dac2Interp/cicInterpolate/acc0*);
TIMEGRP "tg12" = FFS(dac*Sync);
TIMEGRP "tg13" = FFS(dac*Interp/*);
TIMEGRP "tg14" = FFS(trellis/trellisCarrierLoop/lagGain/*) FFS(trellis/trellisCarrierLoop/leadGain/*) FFS(trellis/trellisCarrierLoop/filterSum*) FFS(soqpsk/soqpskCarrierLoop/lagGain/*) FFS(soqpsk/soqpskCarrierLoop/leadGain/*) FFS(soqpsk/soqpskCarrierLoop/filterSum*);
TIMEGRP "ddc0" = FFS(demod/ddc/iAgcIn*) FFS(demod/ddc/qAgcIn*);
TIMEGRP "ddc1" = FFS(demod/ddc/iOut*) FFS(demod/ddc/qOut*);
TIMEGRP "fmDemod" = FFS(demod/fmDemod/cordic/p*) FFS(trellis/trellisCarrierLoop/fmDemod/cordic/p*);
TIMEGRP "slowGroup" = "syncGroup" "ddc0" "ddc1" "tg14" "fmDemod";
TIMESPEC TS_ck933 = PERIOD "ck933" 100 MHz HIGH 50%;
TIMESPEC TS_slowGroup = PERIOD "slowGroup" 50 MHz;
TIMESPEC TS_sync = FROM "sync" TO FFS 100 MHz;
TIMESPEC TS_interp00 = FROM "tg6" TO "tg9" 100 MHz;
TIMESPEC TS_interp10 = FROM "tg7" TO "tg10" 100 MHz;
TIMESPEC TS_interp20 = FROM "tg8" TO "tg11" 100 MHz;
TIMESPEC TS_interp01 = FROM "tg12" to "tg13" 100 MHz;
TIMESPEC TS_symEn = PERIOD "acs" 25 MHz;
TIMESPEC TS_symEn0 = FROM "rotOut" TO "acs" 25 MHz;
TIMESPEC TS_symEn1 = PERIOD "soqpskAcs" 50 MHz;
TIMESPEC TS_symEn2 = FROM "soqpskRotOut" TO "soqpskAcs" 50 MHz;
TIMESPEC TS_nWe = PERIOD "nWe" 100 ns HIGH 50%;



