NET "ck933" LOC = Y11;
NET "nWe" LOC = V12;
NET "nWe" CLOCK_DEDICATED_ROUTE = FALSE;
NET "nCs" LOC = V11;
NET "nRd" LOC = U16;
NET "data<0>" LOC = W8;
NET "data<1>" LOC = W5;
NET "data<2>" LOC = V16;
NET "data<3>" LOC = U15;
NET "data<4>" LOC = U14;
NET "data<5>" LOC = U13;
NET "data<6>" LOC = U12;
NET "data<7>" LOC = U10;
NET "data<8>" LOC = U9;
NET "data<9>" LOC = U8;
NET "data<10>" LOC = AB19;
NET "data<11>" LOC = AB18;
NET "data<12>" LOC = AB17;
NET "data<13>" LOC = AB16;
NET "data<14>" LOC = AB14;
NET "data<15>" LOC = AB13;
NET "dac_rst" LOC = T18;
NET "dac_sdio" LOC = T17;
NET "dac2_sclk" LOC = U20;
NET "dac2_nCs" LOC = R22;
NET "dac1_sclk" LOC = U19;
NET "dac1_nCs" LOC = L22;
NET "dac0_sclk" LOC = U18;
NET "dac0_nCs" LOC = H17;
NET "addr1" LOC = Y7;
NET "addr2" LOC = Y6;
NET "addr3" LOC = W18;
NET "addr4" LOC = W13;
NET "addr5" LOC = W10;
NET "addr6" LOC = W9;
NET "addr7" LOC = W4;
NET "addr8" LOC = V15;
NET "addr9" LOC = AB15;
NET "addr10" LOC = AB11;
NET "addr11" LOC = AB2;
NET "addr12" LOC = AA6;
NET "addr1" IOSTANDARD = "LVCMOS33";
NET "addr2" IOSTANDARD = "LVCMOS33";
NET "addr3" IOSTANDARD = "LVCMOS33";
NET "addr4" IOSTANDARD = "LVCMOS33";
NET "addr5" IOSTANDARD = "LVCMOS33";
NET "addr6" IOSTANDARD = "LVCMOS33";
NET "addr7" IOSTANDARD = "LVCMOS33";
NET "addr8" IOSTANDARD = "LVCMOS33";
NET "addr9" IOSTANDARD = "LVCMOS33";
NET "addr10" IOSTANDARD = "LVCMOS33";
NET "addr11" IOSTANDARD = "LVCMOS33";
NET "addr12" IOSTANDARD = "LVCMOS33";
NET "ck933" IOSTANDARD = "LVCMOS33";
NET "data<0>" IOSTANDARD = "LVCMOS33";
NET "data<1>" IOSTANDARD = "LVCMOS33";
NET "data<2>" IOSTANDARD = "LVCMOS33";
NET "data<3>" IOSTANDARD = "LVCMOS33";
NET "data<4>" IOSTANDARD = "LVCMOS33";
NET "data<5>" IOSTANDARD = "LVCMOS33";
NET "data<6>" IOSTANDARD = "LVCMOS33";
NET "data<7>" IOSTANDARD = "LVCMOS33";
NET "data<8>" IOSTANDARD = "LVCMOS33";
NET "data<9>" IOSTANDARD = "LVCMOS33";
NET "data<10>" IOSTANDARD = "LVCMOS33";
NET "data<11>" IOSTANDARD = "LVCMOS33";
NET "data<12>" IOSTANDARD = "LVCMOS33";
NET "data<13>" IOSTANDARD = "LVCMOS33";
NET "data<14>" IOSTANDARD = "LVCMOS33";
NET "data<15>" IOSTANDARD = "LVCMOS33";
NET "nCs" IOSTANDARD = "LVCMOS33";
NET "nRd" IOSTANDARD = "LVCMOS33";
NET "nWe" IOSTANDARD = "LVCMOS33";



NET "demodMode<0>" LOC = A3;
NET "demodMode<1>" LOC = A4;
NET "demodMode<2>" LOC = A6;
NET "demodMode<3>" LOC = A7;
NET "demodMode<0>" IOSTANDARD = "LVCMOS33";
NET "demodMode<1>" IOSTANDARD = "LVCMOS33";
NET "demodMode<2>" IOSTANDARD = "LVCMOS33";
NET "demodMode<3>" IOSTANDARD = "LVCMOS33";

NET "dac0Select<0>" LOC = A9;
NET "dac0Select<1>" LOC = A10;
NET "dac0Select<2>" LOC = A12;
NET "dac0Select<3>" LOC = A15;
NET "dac0Select<0>" IOSTANDARD = "LVCMOS33";
NET "dac0Select<1>" IOSTANDARD = "LVCMOS33";
NET "dac0Select<2>" IOSTANDARD = "LVCMOS33";
NET "dac0Select<3>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<0>" LOC = A16;
NET "dac1Select<1>" LOC = A17;
NET "dac1Select<2>" LOC = A18;
NET "dac1Select<3>" LOC = A19;
NET "dac1Select<0>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<1>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<2>" IOSTANDARD = "LVCMOS33";
NET "dac1Select<3>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<0>" LOC = A20;
NET "dac2Select<1>" LOC = B3;
NET "dac2Select<2>" LOC = B4;
NET "dac2Select<3>" LOC = B6;
NET "dac2Select<0>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<1>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<2>" IOSTANDARD = "LVCMOS33";
NET "dac2Select<3>" IOSTANDARD = "LVCMOS33";

NET "bsyncLockInput" LOC = B11;
NET "bsyncLockInput" IOSTANDARD = "LVCMOS33";
NET "demodLockInput" LOC = B17;
NET "demodLockInput" IOSTANDARD = "LVCMOS33";

NET "sdiInput" LOC = B19;
NET "sdiInput" IOSTANDARD = "LVCMOS33";

NET "dac0Data<0>" LOC = D1;
NET "dac0Data<1>" LOC = D3;
NET "dac0Data<2>" LOC = D4;
NET "dac0Data<3>" LOC = E1;
NET "dac0Data<4>" LOC = E3;
NET "dac0Data<5>" LOC = E4;
NET "dac0Data<6>" LOC = F1;
NET "dac0Data<7>" LOC = F2;
NET "dac0Data<8>" LOC = F3;
NET "dac0Data<9>" LOC = F4;
NET "dac0Data<10>" LOC = F5;
NET "dac0Data<11>" LOC = G1;
NET "dac0Data<12>" LOC = G3;
NET "dac0Data<13>" LOC = G5;
NET "dac0Data<0>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<1>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<2>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<3>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<4>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<5>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<6>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<7>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<8>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<9>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<10>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<11>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<12>" IOSTANDARD = "LVCMOS33";
NET "dac0Data<13>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<0>" LOC = H1;
NET "dac1Data<1>" LOC = H2;
NET "dac1Data<2>" LOC = H3;
NET "dac1Data<3>" LOC = H4;
NET "dac1Data<4>" LOC = H6;
NET "dac1Data<5>" LOC = J1;
NET "dac1Data<6>" LOC = J3;
NET "dac1Data<7>" LOC = J4;
NET "dac1Data<8>" LOC = K1;
NET "dac1Data<9>" LOC = K3;
NET "dac1Data<10>" LOC = K4;
NET "dac1Data<11>" LOC = K5;
NET "dac1Data<12>" LOC = K6;
NET "dac1Data<13>" LOC = L1;
NET "dac1Data<0>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<1>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<2>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<3>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<4>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<5>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<6>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<7>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<8>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<9>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<10>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<11>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<12>" IOSTANDARD = "LVCMOS33";
NET "dac1Data<13>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<0>" LOC = L5;
NET "dac2Data<1>" LOC = L6;
NET "dac2Data<2>" LOC = M1;
NET "dac2Data<3>" LOC = M2;
NET "dac2Data<4>" LOC = M3;
NET "dac2Data<5>" LOC = M5;
NET "dac2Data<6>" LOC = M6;
NET "dac2Data<7>" LOC = N1;
NET "dac2Data<8>" LOC = N3;
NET "dac2Data<9>" LOC = N4;
NET "dac2Data<10>" LOC = N5;
NET "dac2Data<11>" LOC = N6;
NET "dac2Data<12>" LOC = N7;
NET "dac2Data<13>" LOC = P1;
NET "dac2Data<0>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<1>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<2>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<3>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<4>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<5>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<6>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<7>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<8>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<9>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<10>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<11>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<12>" IOSTANDARD = "LVCMOS33";
NET "dac2Data<13>" IOSTANDARD = "LVCMOS33";

NET "multiHSymEn" LOC = D15;
NET "multiHSymEn" IOSTANDARD = "LVCMOS33";

NET "multiHSym2xEn" LOC = D17;
NET "multiHSym2xEn" IOSTANDARD = "LVCMOS33";

NET "iMultiH<0>"  LOC = P3;
NET "iMultiH<1>"  LOC = P6;
NET "iMultiH<2>"  LOC = R2;
NET "iMultiH<3>"  LOC = R3;
NET "iMultiH<4>"  LOC = R5;
NET "iMultiH<5>"  LOC = T1;
NET "iMultiH<6>"  LOC = T3;
NET "iMultiH<7>"  LOC = T4;
NET "iMultiH<8>"  LOC = T5;
NET "iMultiH<9>"  LOC = T6;
NET "iMultiH<10>" LOC = U1;
NET "iMultiH<11>" LOC = U2;
NET "iMultiH<12>" LOC = U3;
NET "iMultiH<13>" LOC = U5;
NET "iMultiH<14>" LOC = V1;
NET "iMultiH<15>" LOC = V4;
NET "iMultiH<16>" LOC = W3;
NET "iMultiH<17>" LOC = Y1;
NET "iMultiH<0>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<1>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<2>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<3>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<4>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<5>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<6>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<7>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<8>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<9>"  IOSTANDARD = "LVCMOS33";
NET "iMultiH<10>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<11>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<12>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<13>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<14>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<15>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<16>" IOSTANDARD = "LVCMOS33";
NET "iMultiH<17>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<0>"  LOC = B20;
NET "qMultiH<1>"  LOC = C4;
NET "qMultiH<2>"  LOC = C5;
NET "qMultiH<3>"  LOC = C6;
NET "qMultiH<4>"  LOC = C7;
NET "qMultiH<5>"  LOC = C8;
NET "qMultiH<6>"  LOC = C10;
NET "qMultiH<7>"  LOC = C11;
NET "qMultiH<8>"  LOC = C14;
NET "qMultiH<9>"  LOC = C15;
NET "qMultiH<10>" LOC = C16;
NET "qMultiH<11>" LOC = C17;
NET "qMultiH<12>" LOC = C19;
NET "qMultiH<13>" LOC = D5;
NET "qMultiH<14>" LOC = D9;
NET "qMultiH<15>" LOC = D10;
NET "qMultiH<16>" LOC = D13;
NET "qMultiH<17>" LOC = D14;
NET "qMultiH<0>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<1>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<2>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<3>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<4>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<5>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<6>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<7>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<8>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<9>"  IOSTANDARD = "LVCMOS33";
NET "qMultiH<10>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<11>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<12>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<13>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<14>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<15>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<16>" IOSTANDARD = "LVCMOS33";
NET "qMultiH<17>" IOSTANDARD = "LVCMOS33";

NET "dataSymEn" LOC = D18;
NET "dataSymEn" IOSTANDARD = "LVCMOS33";
NET "dataSym2xEn" LOC = D19;
NET "dataSym2xEn" IOSTANDARD = "LVCMOS33";

NET "iData" LOC = E7;
NET "qData" LOC = E8;
NET "iData" IOSTANDARD = "LVCMOS33";
NET "qData" IOSTANDARD = "LVCMOS33";

NET "auSymClk" LOC = E11;
NET "auSymClk" IOSTANDARD = "LVCMOS33";


NET "dac0_nCs" IOSTANDARD = "LVCMOS18";
NET "dac0_sclk" IOSTANDARD = "LVCMOS18";
NET "dac1_nCs" IOSTANDARD = "LVCMOS18";
NET "dac1_sclk" IOSTANDARD = "LVCMOS18";
NET "dac2_nCs" IOSTANDARD = "LVCMOS18";
NET "dac2_sclk" IOSTANDARD = "LVCMOS18";
NET "dac_rst" IOSTANDARD = "LVCMOS18";
NET "dac_sdio" IOSTANDARD = "LVCMOS18";
NET "dac0_clk" LOC = G22;
NET "dac0_d<0>" LOC = G19;
NET "dac0_d<1>" LOC = G18;
NET "dac0_d<2>" LOC = G17;
NET "dac0_d<3>" LOC = F22;
NET "dac0_d<4>" LOC = F21;
NET "dac0_d<5>" LOC = F20;
NET "dac0_d<6>" LOC = F19;
NET "dac0_d<7>" LOC = F18;
NET "dac0_d<8>" LOC = E22;
NET "dac0_d<9>" LOC = E20;
NET "dac0_d<10>" LOC = E19;
NET "dac0_d<11>" LOC = D22;
NET "dac0_d<12>" LOC = D21;
NET "dac0_d<13>" LOC = D20;
NET "dac1_clk" LOC = L21;
NET "dac1_d<0>" LOC = N17;
NET "dac1_d<1>" LOC = L20;
NET "dac1_d<2>" LOC = L17;
NET "dac1_d<3>" LOC = K22;
NET "dac1_d<4>" LOC = K20;
NET "dac1_d<5>" LOC = K19;
NET "dac1_d<6>" LOC = K18;
NET "dac1_d<7>" LOC = K16;
NET "dac1_d<8>" LOC = J20;
NET "dac1_d<9>" LOC = J19;
NET "dac1_d<10>" LOC = J17;
NET "dac1_d<11>" LOC = H22;
NET "dac1_d<12>" LOC = H20;
NET "dac1_d<13>" LOC = H18;
NET "dac2_clk" LOC = R20;
NET "dac2_d<0>" LOC = R19;
NET "dac2_d<1>" LOC = R18;
NET "dac2_d<2>" LOC = P22;
NET "dac2_d<3>" LOC = P19;
NET "dac2_d<4>" LOC = P16;
NET "dac2_d<5>" LOC = N22;
NET "dac2_d<6>" LOC = N21;
NET "dac2_d<7>" LOC = N20;
NET "dac2_d<8>" LOC = N19;
NET "dac2_d<9>" LOC = N18;
NET "dac2_d<10>" LOC = M22;
NET "dac2_d<11>" LOC = M20;
NET "dac2_d<12>" LOC = M18;
NET "dac2_d<13>" LOC = M17;
NET "dac0_clk" IOSTANDARD = "LVCMOS18";
NET "dac0_d<0>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<1>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<2>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<3>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<4>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<5>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<7>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<6>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<8>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<9>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<10>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<11>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<12>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<13>" IOSTANDARD = "LVCMOS18";
NET "dac1_clk" IOSTANDARD = "LVCMOS18";
NET "dac1_d<0>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<1>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<2>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<3>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<4>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<5>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<6>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<7>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<8>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<9>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<10>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<11>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<12>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<13>" IOSTANDARD = "LVCMOS18";
NET "dac2_clk" IOSTANDARD = "LVCMOS18";
NET "dac2_d<0>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<1>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<2>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<3>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<4>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<5>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<6>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<7>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<8>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<9>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<10>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<11>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<12>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<13>" IOSTANDARD = "LVCMOS18";
NET "bsync_nLock" LOC = W22;
NET "demod_nLock" LOC = Y21;
NET "demod_nLock" IOSTANDARD = "LVCMOS18";
NET "bsync_nLock" IOSTANDARD = "LVCMOS18";
NET "bsync_nLock" DRIVE = 12;
NET "demod_nLock" DRIVE = 12;
NET "cout_i" LOC = T22;
NET "cout_q" LOC = V20;
NET "dout_i" LOC = T20;
NET "dout_q" LOC = U22;
NET "cout_i" IOSTANDARD = "LVCMOS18";
NET "cout_q" IOSTANDARD = "LVCMOS18";
NET "dout_i" IOSTANDARD = "LVCMOS18";
NET "dout_q" IOSTANDARD = "LVCMOS18";
NET "symb_pll_fbk" LOC = Y13;
NET "symb_pll_ref" LOC = Y9;
NET "symb_pll_vco" LOC = Y10;
NET "symb_pll_fbk" IOSTANDARD = "LVCMOS33";
NET "symb_pll_ref" IOSTANDARD = "LVCMOS33";
NET "symb_pll_vco" IOSTANDARD = "LVCMOS33";
NET "symb_pll_vco" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sdiOut" LOC = AB20;
NET "sdiOut" IOSTANDARD = "LVCMOS33";


NET "ck933" TNM_NET = ck933;
NET "nWe" TNM_NET = nWe;
NET "reset*" TNM_NET = reset; 
TIMEGRP "sync5" = FFS(multih/viterbiMultiH/acsMultH*/rotator/symEnSr*);
TIMEGRP "sync6" = FFS(multih/uut_mfiltBank/symEnSr*) FFS(multihSym2xEn*);
TIMEGRP "sync7" = FFS(multihSymEnIn) FFS(multih/viterbiMultiH/symEnEvenSr*);
#TIMEGRP "sync8" = FFS(multihSym2xEnIn) ;
TIMEGRP "sync" = "sync5" "sync6" "sync7";
TIMEGRP "mfPipe" = FFS(multih/viterbiMultiH/rotMux*/mfI_*) FFS(multih/viterbiMultiH/rotMux*/mfQ_*);
TIMEGRP "rot" = FFS(multih/viterbiMultiH/acsMultH*/iOutRot*); # FFS(multih/viterbiMultiH/acsMultH*/qOutRot*);
TIMEGRP "bestMetric" = FFS(multih/viterbiMultiH/acsMultH*/compSel/maxVal*) FFS(multih/viterbiMultiH/*selOut*) FFS(multih/viterbiMultiH/symEnEvenSr*) FFS(multih/viterbiMultiH/acsMultH*/compSel/index*);
TIMEGRP "mf0I" = FFS(multih/uut_mfiltBank/mf_x*/mf0IOut*);
TIMEGRP "mf0Q" = FFS(multih/uut_mfiltBank/mf_x*/mf0QOut*);
TIMEGRP "mf1I" = FFS(multih/uut_mfiltBank/mf_x*/mf1IOut*);
TIMEGRP "mf1Q" = FFS(multih/uut_mfiltBank/mf_x*/mf1QOut*);
TIMEGRP "mf" = "mf0I" "mf0Q" "mf1I" "mf1Q";
#TIMEGRP "rotOut" = FFS(multih/rotator/m*/reOut*) FFS(multih/rotator/m*/imOut*);
TIMEGRP "maxMetric" = FFS(multih/viterbiMultiH/maxMetric/*);
NET "multihSymEn*" TNM_NET = FFS syncGroup;
NET "multihSym2xEn*" TNM_NET = FFS syncGroup;
#NET "multih/trellisCarrierLoop/sym2xEnSr*" TNM_NET = FFS syncGroup;
NET "multih/uut_mfiltBank/symEnSr*" TNM_NET = FFS syncGroup;
#NET "multih/uut_mfiltBank/sym2xEnSr*" TNM_NET = FFS syncGroup;
NET "multih/viterbiMultiH/acsMulth*/rotator/symEnSr*" TNM_NET = FFS syncGroup;
#NET "multih/viterbiMultiH/acsMulth*/rotator/sym2xEnSr*" TNM_NET = FFS syncGroup;
#TIMEGRP "tg14" = FFS(multih/trellisCarrierLoop/lagGain*) FFS(multih/trellisCarrierLoop/leadGain*) FFS(multih/trellisCarrierLoop/filterSum*);
#TIMEGRP "fmDemod" = FFS(multih/trellisCarrierLoop/fmDemod/cordic/p*);
TIMEGRP "slowGroup" = "syncGroup";
TIMESPEC TS_ck933 = PERIOD "ck933" 100 MHz HIGH 50%;
#TIMESPEC TS_slowGroup = PERIOD "slowGroup" 50 MHz;
TIMESPEC TS_symEn = FROM "mf" TO "mfPipe" 25 MHz;
TIMESPEC TS_reset = FROM FFS(reset*) to FFS 25 MHz;
TIMESPEC TS_rot = FROM "rot" TO "bestMetric" 25 MHz;
TIMESPEC TS_best = FROM "bestMetric" TO "bestMetric" 25 MHz;
TIMESPEC TS_max = FROM "bestMetric" to "maxMetric" 25 MHz;
TIMESPEC TS_sync = FROM "sync" TO FFS 100 MHz;
TIMESPEC TS_nWe = PERIOD "nWe" 100 ns HIGH 50%;
