NET "ck933" LOC = Y11;
NET "nWe" LOC = V12;
NET "nCs" LOC = V11;
NET "nRd" LOC = U16;
NET "data<0>" LOC = W8;
NET "data<1>" LOC = W5;
NET "data<2>" LOC = V16;
NET "data<3>" LOC = U15;
NET "data<4>" LOC = U14;
NET "data<5>" LOC = U13;
NET "data<6>" LOC = U12;
NET "data<7>" LOC = U10;
NET "data<8>" LOC = U9;
NET "data<9>" LOC = U8;
NET "data<10>" LOC = AB19;
NET "data<11>" LOC = AB18;
NET "data<12>" LOC = AB17;
NET "data<13>" LOC = AB16;
NET "data<14>" LOC = AB14;
NET "data<15>" LOC = AB13;
NET "dac_rst" LOC = T18;
NET "dac_sdio" LOC = T17;
NET "dac2_sclk" LOC = U20;
NET "dac2_nCs" LOC = R22;
NET "dac1_sclk" LOC = U19;
NET "dac1_nCs" LOC = L22;
NET "dac0_sclk" LOC = U18;
NET "dac0_nCs" LOC = H17;
NET "addr1" LOC = Y7;
NET "addr2" LOC = Y6;
NET "addr3" LOC = W18;
NET "addr4" LOC = W13;
NET "addr9" LOC = AB15;
NET "addr10" LOC = AB11;
NET "addr11" LOC = AB2;
NET "addr12" LOC = AA6;
NET "addr1" IOSTANDARD = "LVCMOS33";
NET "addr2" IOSTANDARD = "LVCMOS33";
NET "addr3" IOSTANDARD = "LVCMOS33";
NET "addr4" IOSTANDARD = "LVCMOS33";
NET "addr9" IOSTANDARD = "LVCMOS33";
NET "addr10" IOSTANDARD = "LVCMOS33";
NET "addr11" IOSTANDARD = "LVCMOS33";
NET "addr12" IOSTANDARD = "LVCMOS33";
NET "ck933" IOSTANDARD = "LVCMOS33";
NET "data<0>" IOSTANDARD = "LVCMOS33";
NET "data<1>" IOSTANDARD = "LVCMOS33";
NET "data<2>" IOSTANDARD = "LVCMOS33";
NET "data<3>" IOSTANDARD = "LVCMOS33";
NET "data<4>" IOSTANDARD = "LVCMOS33";
NET "data<5>" IOSTANDARD = "LVCMOS33";
NET "data<6>" IOSTANDARD = "LVCMOS33";
NET "data<7>" IOSTANDARD = "LVCMOS33";
NET "data<8>" IOSTANDARD = "LVCMOS33";
NET "data<9>" IOSTANDARD = "LVCMOS33";
NET "data<10>" IOSTANDARD = "LVCMOS33";
NET "data<11>" IOSTANDARD = "LVCMOS33";
NET "data<12>" IOSTANDARD = "LVCMOS33";
NET "data<13>" IOSTANDARD = "LVCMOS33";
NET "data<14>" IOSTANDARD = "LVCMOS33";
NET "data<15>" IOSTANDARD = "LVCMOS33";
NET "nCs" IOSTANDARD = "LVCMOS33";
NET "nRd" IOSTANDARD = "LVCMOS33";
NET "nWe" IOSTANDARD = "LVCMOS33";
NET "dac0_nCs" IOSTANDARD = "LVCMOS18";
NET "dac0_sclk" IOSTANDARD = "LVCMOS18";
NET "dac1_nCs" IOSTANDARD = "LVCMOS18";
NET "dac1_sclk" IOSTANDARD = "LVCMOS18";
NET "dac2_nCs" IOSTANDARD = "LVCMOS18";
NET "dac2_sclk" IOSTANDARD = "LVCMOS18";
NET "dac_rst" IOSTANDARD = "LVCMOS18";
NET "dac_sdio" IOSTANDARD = "LVCMOS18";
NET "dac0_clk" LOC = G22;
NET "dac0_d<0>" LOC = G19;
NET "dac0_d<1>" LOC = G18;
NET "dac0_d<2>" LOC = G17;
NET "dac0_d<3>" LOC = F22;
NET "dac0_d<4>" LOC = F21;
NET "dac0_d<5>" LOC = F20;
NET "dac0_d<6>" LOC = F19;
NET "dac0_d<7>" LOC = F18;
NET "dac0_d<8>" LOC = E22;
NET "dac0_d<9>" LOC = E20;
NET "dac0_d<10>" LOC = E19;
NET "dac0_d<11>" LOC = D22;
NET "dac0_d<12>" LOC = D21;
NET "dac0_d<13>" LOC = D20;
NET "dac1_clk" LOC = L21;
NET "dac1_d<0>" LOC = N17;
NET "dac1_d<1>" LOC = L20;
NET "dac1_d<2>" LOC = L17;
NET "dac1_d<3>" LOC = K22;
NET "dac1_d<4>" LOC = K20;
NET "dac1_d<5>" LOC = K19;
NET "dac1_d<6>" LOC = K18;
NET "dac1_d<7>" LOC = K16;
NET "dac1_d<8>" LOC = J20;
NET "dac1_d<9>" LOC = J19;
NET "dac1_d<10>" LOC = J17;
NET "dac1_d<11>" LOC = H22;
NET "dac1_d<12>" LOC = H20;
NET "dac1_d<13>" LOC = H18;
NET "dac2_clk" LOC = R20;
NET "dac2_d<0>" LOC = R19;
NET "dac2_d<1>" LOC = R18;
NET "dac2_d<2>" LOC = P22;
NET "dac2_d<3>" LOC = P19;
NET "dac2_d<4>" LOC = P16;
NET "dac2_d<5>" LOC = N22;
NET "dac2_d<6>" LOC = N21;
NET "dac2_d<7>" LOC = N20;
NET "dac2_d<8>" LOC = N19;
NET "dac2_d<9>" LOC = N18;
NET "dac2_d<10>" LOC = M22;
NET "dac2_d<11>" LOC = M20;
NET "dac2_d<12>" LOC = M18;
NET "dac2_d<13>" LOC = M17;
NET "adc_d<0>" LOC = D1;
NET "adc_d<1>" LOC = D3;
NET "adc_d<2>" LOC = D4;
NET "adc_d<3>" LOC = E1;
NET "adc_d<4>" LOC = E3;
NET "adc_d<5>" LOC = E4;
NET "adc_d<6>" LOC = F1;
NET "adc_d<7>" LOC = F2;
NET "adc_d<8>" LOC = F3;
NET "adc_d<9>" LOC = F4;
NET "adc_d<10>" LOC = F5;
NET "adc_d<11>" LOC = G1;
NET "adc_d<12>" LOC = G3;
NET "adc_d<13>" LOC = G5;
NET "adc_d<13>" IOSTANDARD = "LVCMOS33";
NET "adc_d<12>" IOSTANDARD = "LVCMOS33";
NET "adc_d<0>" IOSTANDARD = "LVCMOS33";
NET "adc_d<1>" IOSTANDARD = "LVCMOS33";
NET "adc_d<2>" IOSTANDARD = "LVCMOS33";
NET "adc_d<3>" IOSTANDARD = "LVCMOS33";
NET "adc_d<4>" IOSTANDARD = "LVCMOS33";
NET "adc_d<5>" IOSTANDARD = "LVCMOS33";
NET "adc_d<6>" IOSTANDARD = "LVCMOS33";
NET "adc_d<7>" IOSTANDARD = "LVCMOS33";
NET "adc_d<8>" IOSTANDARD = "LVCMOS33";
NET "adc_d<9>" IOSTANDARD = "LVCMOS33";
NET "adc_d<10>" IOSTANDARD = "LVCMOS33";
NET "adc_d<11>" IOSTANDARD = "LVCMOS33";
NET "dac0_clk" IOSTANDARD = "LVCMOS18";
NET "dac0_d<0>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<1>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<2>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<3>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<4>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<5>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<7>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<6>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<8>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<9>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<10>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<11>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<12>" IOSTANDARD = "LVCMOS18";
NET "dac0_d<13>" IOSTANDARD = "LVCMOS18";
NET "dac1_clk" IOSTANDARD = "LVCMOS18";
NET "dac1_d<0>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<1>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<2>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<3>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<4>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<5>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<6>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<7>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<8>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<9>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<10>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<11>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<12>" IOSTANDARD = "LVCMOS18";
NET "dac1_d<13>" IOSTANDARD = "LVCMOS18";
NET "dac2_clk" IOSTANDARD = "LVCMOS18";
NET "dac2_d<0>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<1>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<2>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<3>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<4>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<5>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<6>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<7>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<8>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<9>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<10>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<11>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<12>" IOSTANDARD = "LVCMOS18";
NET "dac2_d<13>" IOSTANDARD = "LVCMOS18";
NET "bsync_nLock" LOC = W22;
NET "demod_nLock" LOC = Y21;
NET "demod_nLock" IOSTANDARD = "LVCMOS18";
NET "bsync_nLock" IOSTANDARD = "LVCMOS18";
NET "bsync_nLock" DRIVE = 12;
NET "demod_nLock" DRIVE = 12;
NET "addr5" LOC = W10;
NET "addr6" LOC = W9;
NET "addr7" LOC = W4;
NET "addr8" LOC = V15;
NET "addr5" IOSTANDARD = "LVCMOS33";
NET "addr6" IOSTANDARD = "LVCMOS33";
NET "addr7" IOSTANDARD = "LVCMOS33";
NET "cout_i" LOC = T22;
NET "cout_q" LOC = V20;
NET "dout_i" LOC = T20;
NET "dout_q" LOC = U22;
NET "cout_i" IOSTANDARD = "LVCMOS18";
NET "cout_q" IOSTANDARD = "LVCMOS18";
NET "dout_i" IOSTANDARD = "LVCMOS18";
NET "dout_q" IOSTANDARD = "LVCMOS18";
#NET "symb_pll_fbk" LOC = Y13;
#NET "symb_pll_ref" LOC = Y9;
#NET "symb_pll_vco" LOC = Y10;
##NET "symb_pll_fbk" IOSTANDARD = "LVCMOS33";
#NET "symb_pll_ref" IOSTANDARD = "LVCMOS33";
#NET "symb_pll_vco" IOSTANDARD = "LVCMOS33";
#NET "symb_pll_vco" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ck933" TNM_NET = ck933;
NET "nWe" TNM_NET = nWe;
TIMEGRP "sync0" = FFS(demod/ddc/hb0/syncOut*);
TIMEGRP "sync1" = FFS(demod/ddc/cic/syncOut*);
TIMEGRP "sync2" = FFS(demod/ddc/hb/syncOut*);
TIMEGRP "sync3" = FFS(demod/ddc/syncOut*);
TIMEGRP "sync4" = FFS(demod/ddc/agcSync*);
TIMEGRP "sync5" = FFS(demod/resampler/resampleDelay*);
TIMEGRP "sync6" = FFS(demod/bitsync/phaseState*);
TIMEGRP "sync7" = FFS(symEn) FFS(trellis/trellisCarrierLoop/symEnSR*) FFS(trellis/symEnShift*);
TIMEGRP "sync8" = FFS(sym2xEn) FFS(trellis/trellisCarrierLoop/sym2xEnSR*);
TIMEGRP "sync" = "sync0" "sync1" "sync2" "sync3" "sync4" "sync5" "sync6" "sync7" "sync8";
#TIMEGRP "sync9" = FFS(trellis/rotator/m*/enaDelay*);
#TIMEGRP "sync" = "sync0" "sync1" "sync2" "sync3" "sync4" "sync5" "sync6" "sync7" "sync8" "sync9";
TIMEGRP "reg0" = FFS(demod/bitsync/sampleLoop/micro/*);
TIMEGRP "reg1" = FFS(demod/carrierLoop/loopRegs/*);
TIMEGRP "reg2" = FFS(trellis/trellisCarrierLoop/loopRegs/*);
NET "demod/dac0Sync" TNM_NET = syncGroup;
NET "demod/dac1Sync" TNM_NET = syncGroup;
NET "demod/dac2Sync" TNM_NET = syncGroup;
NET "demod/ddc/agcSync" TNM_NET = syncGroup;
NET "demod/ddc/cic/syncOut" TNM_NET = syncGroup;
NET "demod/ddc/cic/syncOut_mux0000" TNM_NET = syncGroup;
NET "demod/ddc/hb/evenSync" TNM_NET = syncGroup;
NET "demod/ddc/hb/evenSync_inv" TNM_NET = syncGroup;
NET "demod/ddc/hb/syncOut" TNM_NET = syncGroup;
NET "demod/ddc/hb0/evenSync" TNM_NET = syncGroup;
NET "demod/ddc/hb0/evenSync_inv" TNM_NET = syncGroup;
NET "demod/ddc/hb0/syncOut" TNM_NET = syncGroup;
NET "demod/carrierOffsetEn" TNM_NET = syncGroup;
NET "demod/ddc/syncOut*" TNM_NET = syncGroup;
TIMEGRP "tg0" = FFS(demod/ddc/hb0/*) EXCEPT "sync0";
TIMEGRP "tg1" = FFS(demod/ddc/gain*) FFS(demod/ddc/iAgcIn*) FFS(demod/ddc/qAgcIn*);
TIMEGRP "tg2" = FFS(demod/ddc/hb/*) EXCEPT "sync2";
TIMEGRP "tg3" = FFS(demod/bitsync/*) EXCEPT "reg0";
TIMEGRP "tg4" = FFS(demod/carrierLoop/*) EXCEPT "reg1";
TIMEGRP "tg5a" = FFS(demod/ddc/cic/regs/*) FFS(demod/ddc/cic/syncOut);
TIMEGRP "tg5" = FFS(demod/ddc/cic/*) EXCEPT "tg5a";
TIMEGRP "tg6" = FFS(dac0Interp/cicInterpolate/tap*);
TIMEGRP "tg7" = FFS(dac1Interp/cicInterpolate/tap*);
TIMEGRP "tg8" = FFS(dac2Interp/cicInterpolate/tap*);
TIMEGRP "tg9" = FFS(dac0Interp/cicInterpolate/acc0*);
TIMEGRP "tg10" = FFS(dac1Interp/cicInterpolate/acc0*);
TIMEGRP "tg11" = FFS(dac2Interp/cicInterpolate/acc0*);
TIMEGRP "tg12" = FFS(dac*Sync);
TIMEGRP "tg13" = FFS(dac*Interp/*);
TIMEGRP "tg14" = FFS(trellis/trellisCarrierLoop/lagGain*) FFS(trellis/trellisCarrierLoop/leadGain*) FFS(trellis/trellisCarrierLoop/filterSum*);
TIMEGRP "tg15" = FFS(demod/ddc/iOut*) FFS(demod/ddc/qOut*);
TIMEGRP "slowGroup" = "syncGroup" "tg4" "tg0" "tg1" "tg2" "tg3" "tg4" "tg5" "tg6" "tg7" "tg8" "tg14";
TIMESPEC TS_ck933 = PERIOD "ck933" 93.333333 MHz HIGH 50%;
TIMESPEC TS_nWe = PERIOD "nWe" 100 ns HIGH 50%;
TIMESPEC TS_slowGroup = PERIOD "slowGroup" 46.666667 MHz;
TIMESPEC TS_sync = FROM "sync" TO FFS 93.333333 MHz;
TIMESPEC TS_interp00 = FROM "tg6" TO "tg9" 93.333333 MHz;
TIMESPEC TS_interp10 = FROM "tg7" TO "tg10" 93.333333 MHz;
TIMESPEC TS_interp20 = FROM "tg8" TO "tg11" 93.333333 MHz;
TIMESPEC TS_interp01 = FROM "tg12" to "tg13" 93.333333 MHz;

